@use "base";
@use "layout";


#cats {
    li 
    { button:hover { /*Animeringen händer när man hovrar över knapp*/
      transform: skew(-10deg);    /*Knapp vrider sig*/
      text-shadow: 8px 8px 8px rgba(0.5,0.5,0.5, 0.5); /*Text får skugga*/
      font-weight: bold /*Text blir bold*/;
      animation-name: colorButton;  /*namn på animering*/
      animation-duration: 5s;   /*så här länga varar animeringen*/
      animation-iteration-count: infinite; /*animeringen går hela tiden*/
      animation-direction: alternate;/*animeringen går fram o tillbaka*/
      width: 20em;
    
}}}


 @keyframes colorButton {
    0% {background-color: rgb(125, 125, 185);} /*bakgrundsfärg från början*/
    40% {background-color: rgb(202, 137, 94);} /*bakgrundsfärg efter 40% av tiden har gått */
    60% {background-color: gold;} /*bakgrundsfärg efter 60% av tiden har gått */
    80% {background-color: rgb(149, 216, 149);} /*bakgrundsfärg efter 80% av tiden har gått */
    100% {background-color: rgb(162, 226, 235);} /*bakgrundsfärg efter 100% av tiden har gått */
   
 }


#labelSearch{
   text-shadow: 8px 8px 8px rgba(0.5,0.5,0.5, 0.5); /*Text får skugga*/  
   margin-right: 0.5em;
}

#cuteCat {
     animation-name: cuteCatAni;  /*namn på animering*/
     animation-duration: 5s;   /*så här länga varar animeringen*/
     animation-iteration-count: infinite; /*animeringen går hela tiden*/
     animation-direction: alternate;/*animeringen går fram o tillbaka*/
       
}



 @keyframes cuteCatAni {
    0% {background-color: gold;} /*bakgrundsfärg från början*/
    10% {transform: skew(-5deg, -5deg)} /*Bild vrider sig*/
    30% {background-color: orange;}   /*bakgrundsfärg efter 30% av tiden har gått */
    50% {scale: 120%} /*Bild blir större*/
    60% {transform: skew(5deg, 5deg);background-color: orangered; }  /*bakgrundsfärg efter 60% av tiden har gått, bild vrider sig */
    80% {background-color: orange;}  /*bakgrundsfärg efter 80% av tiden har gått */
    100% {background-color: gold;}  /*bakgrundsfärg efter 100% av tiden har gått */

  
 }

 #cuteCatButton {

    button {
     animation-name: cuteCatButAni;  /*namn på animering*/
     animation-duration: 5s;   /*så här länga varar animeringen*/
     animation-iteration-count: infinite; /*animeringen går hela tiden*/
     animation-direction: alternate;/*animeringen går fram o tillbaka*/ }
 }


  @keyframes cuteCatButAni {
 
    50% {scale: 120%} /*Knappen blir större*/

  
 }


 #flag:hover { /*Animeringen händer när man hovrar över flaggan*/
       animation-name: flagAni;  /*namn på animering*/
       animation-duration: 5s;   /*så här länga varar animeringen*/
       animation-iteration-count: infinite; /*animeringen går hela tiden*/
       animation-direction: alternate;/*animeringen går fram o tillbaka*/ 
      
 }

 
  @keyframes flagAni {
 
    50% {scale: 150%}

 }

 #catSelect:hover { /*Animeringen händer när man hovrar över bild*/
       animation-name: flagAni;  /*namn på animering*/
       animation-duration: 5s;   /*så här länga varar animeringen*/
       animation-iteration-count: infinite; /*animeringen går hela tiden*/
       animation-direction: alternate;/*animeringen går fram o tillbaka*/ 
 }

 
 #catSelect4:hover {/*Animeringen händer när man hovrar över bild*/
       animation-name: flagAni;  /*namn på animering*/
       animation-duration: 5s;   /*så här länga varar animeringen*/
       animation-iteration-count: infinite; /*animeringen går hela tiden*/
       animation-direction: alternate;/*animeringen går fram o tillbaka*/ 
 }


 #catSelect2:hover {/*Animeringen händer när man hovrar över bild*/
       animation-name: catSelect2Ani;  /*namn på animering*/
       animation-duration: 5s;   /*så här länga varar animeringen*/
       animation-iteration-count: infinite; /*animeringen går hela tiden*/
       animation-direction: alternate;/*animeringen går fram o tillbaka*/ 
      
 }

 
 #catSelect3:hover {/*Animeringen händer när man hovrar över bild*/
       animation-name: catSelect2Ani;  /*namn på animering*/
       animation-duration: 5s;   /*så här länga varar animeringen*/
       animation-iteration-count: infinite; /*animeringen går hela tiden*/
       animation-direction: alternate;/*animeringen går fram o tillbaka*/ 
      
 }

 @keyframes catSelect2Ani {
   50% {transform: skew(5deg, 5deg)} /*Bild vrider på sig*/

 }

#kittenCoconut{
       animation-name: catCoconut;  /*namn på animering*/
       animation-duration: 16s;   /*så här länga varar animeringen*/
       animation-iteration-count: infinite; /*animeringen går hela tiden*/
       animation-direction: alternate;/*animeringen går fram o tillbaka*/ 
}

@keyframes catCoconut{
 
     50% {transform: rotatey(180deg)} /*bild roteras i y-led*/
}


