// #button1 {

#map { height: 40em; 
width: 60em;}
// }


// #oneCat {
//     width: 200px;
//     height: 30px;
// }

#cats li button {
width: 12em;
height: 4em;
margin: 0.2em;

}

#inputCat{
    width: 20em;
    height: 1.5em;
}
