// #button1 {
@use "base";

#map { height: 40em; 
width: 60em;}
// }


// #oneCat {
//     width: 200px;
//     height: 30px;
// }

#cats { /*nestlad för att styla button*/
    li {

        list-style-type: none;
        button {
            width: 12em;
            height: 4em;
            margin: 0.2em;
             background: base.$color-button1;
        
                }
        }
}



#inputCat{
    width: 20em;
    height: 1.5em;
}


#cuteCatButton {

    button {
    background: linear-gradient(45deg, gold, orangered);
    margin-top: 12%;
      width: 15em;
    height: 4em;
    }
}

#imgHeader{
    max-width: 100%;
    
}

#numberOfCats{
    margin-bottom: 5%;
    margin-left: 0.2em;
}

#labelMax{
    margin-left: 3em;
}

#buttonStart {
    button {
         background: linear-gradient(45deg, rgb(143, 64, 235), rgb(204, 152, 191));
              width: 15em;
    height: 4em;
    }
}