
@use "base";


@mixin tablet { /*Mixin för mediaqueries, minwidth*/
    @media(min-width: base.$tablet) {
        @content;
    }
} 

@mixin mobileMax { /*Mixin för mediaqueries, maxwidth*/
    @media(max-width: base.$mobile) {
        @content;
    }
} 


@mixin tablet1 { /*Mixin för mediaqueries, maxwidth*/
    @media(max-width: base.$tablet1) {
        @content;
    }
} 


@mixin tablet2{ /*Mixin för mediaqueries, maxwidth*/
    @media(max-width: base.$tablet) {
        @content;
    }
}


 %margin-msg { /*marginaler som används flera gånger i griden inlagd som inheritance*/
     margin:auto;
     margin-top: 5%;
}


 @mixin fonts ($size, $height) {  /*Mixin för fontsize och lineheight som används till h1, h2 med mera */
    font-size: $size;
    line-height: $height; }


body {  background-color: base.$background-color;    /*bakgrundfärg från varibel*/
            color: base.$text-color;                 /*textfärg från varibel*/
            font-family: base.$font-stack;          /*font-family från varibel*/
                 
        }

        h1 {@include fonts(2em, 120% );}      /*använder mixin för fonts*/
        h2 {@include fonts(1.8em, 120% );     /*använder mixin för fonts*/
        margin-bottom: 3%}
        p {@include fonts(1.6em, 120% );}     /*använder mixin för fonts*/
        #pictureH { 
        @include fonts(3em, 120% );           /*använder mixin för fonts*/
        text-align: center;

        }
        
        
 @media (prefers-color-scheme: dark) {    /*media-querie för mörkt tema*/
       
    body{ background-color: base.$background-color-dark;
              color: base.$text-color-dark;}         
        
        }
        

    

header {       /*meny, använder nesting*/
        height: 80px;
        background-color: base.$primary-color;   /*bakgrundsfärg från variabel*/
        position: relative;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
        position: static;
        display: flex;

nav {    
        font-size: 1.4em;
    li {
        display: inline;
           
         }       

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: base.$text-color-header; /*textfärg från variabel*/
        display: inline;
    }
}}

     .grid-container {    /*definierar grid*/
         display: grid;
         grid-template-columns: repeat(16, 1fr);
         grid-template-rows: repeat(12, auto);
         max-width: 1512px;} 
    
     .position1 {
         grid-area: 1/1/2/-1;
    }
        
    .position10 {
        margin-top: 10%;
        grid-area: 12/1/13/-1; 
        margin-left: 2%;
    }

    .position2 {
         grid-area: 2/1/3/-1; 
    }


    .position3 {
        grid-area: 3/1/4/-1;
        @extend %margin-msg;  /*använder inheritans för marginal*/
        margin-left: 2vh;
        margin-right: 2vh;
    }

        
    .position4 {
        grid-area: 4/1/5/-1;
        margin-top: 4vh;
        margin-left: 2vh;
        margin-bottom: 1vh;

    }

    .position4pictures {
        grid-area: 4/1/5/-1; 
        margin-bottom: 5%;
    }

    .position5pictures {
        grid-area: 5/1/6/-1; 
    }

    .position8pictures {
        grid-area: 6/1/7/-1; 
    }

    .position6pictures {
        grid-area: 7/1/8/9; 
    }

    .position7pictures {
        grid-area: 7/9/8/-1; 
    }

    .position8pictures {
        grid-area: 8/1/9/9; 
    }

    .position9pictures {
        grid-area: 8/9/9/-1; 
    }

    .position10pictures {
        grid-area: 5/1/6/-1; 
        margin-bottom: 5%;
    }

    
    .position5 {
        grid-area: 5/1/6/6;
        margin:5%
    }

    .position8 {
        grid-area: 5/9/6/13;
        margin:5%;
        margin-top: 10%;
    }


    @include mobileMax {
       .position6pictures {
            grid-area: 7/1/8/-1; 
            margin: auto;
        }
        .position7pictures {
            grid-area: 8/1/9/-1; 
            margin: auto;

        }

        .position8pictures {
            grid-area: 9/1/10/-1; 
            margin: auto;
        }
        .position9pictures {
            grid-area: 10/1/11/-1; 
            margin: auto;
        }

        .position8 {
            grid-area: 6/1/7/-1;
            margin:5%;
            margin-top: 10%;

    }
}

    @include tablet1{
        .position8 { grid-area: 5/10/6/-1;
            margin:5%;
            margin-top: 10%; 

        .position3 {           
            margin-left: 2px;
         }

    }
}

    @include tablet2{
        .position8 { grid-area: 6/1/7/-1;
            margin:5%;
            margin-top: 10%;
        }

    }



    .position5_karta {
        grid-area: 6/1/7/-1;
        margin:auto
    }

   #flag{
        grid-area: 5/2/6/3;
        margin-top: 2em;
        margin-left: 2em;
    }

    .position9 {
       grid-area: 4/1/5/-1; 
       margin:auto;
       margin-top: 2%;
       margin-bottom: 2%;

    }
        .position7 {
        grid-area: 5/3/6/16;
        margin:2em

    }

